DestinationUnderworldRelease
test-results.txt
files.txt
recorded-mission*-take*.dat*
screenshot*_*.png
*.exe
**/*.o
**/intermediate_debug.boss
**/Old/
allegro/
*.dll
data/**/save.dat
data/**/best_times.dat
data/**/arena_highscores.dat
data/**/auth.dat
data/recording--level-complete-state.dat
environment-release.txt
local/
open-du-edit.html
.vscode/